/* OVERALLS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #828282;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Khula', sans-serif;
    font-weight: normal;
}

/* HEADER */

.page-header {
    width: 945px;
    margin: 0 auto;
    margin-top: 33px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
    border-bottom: 2px solid #828282;
}

.nav-item {
    font-weight: 700;
    font-size: 18px;
}

.nav-item:active,
.nav-item:hover {
    color: black;
}

/* SECTION 1 */

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.denis-novik {
    width: 945px;
    margin: 0 auto;
    margin-top: 30px;
}

.info-name {
    font-size: 48px;
}

.info-language {
    transform: rotate(-90deg);
    font-size: 16px;
    margin-right: -25px;
}

.info-about {
    font-size: 18px;
}

.info-image {
    margin-top: 50px;
    margin-bottom: 100px;
}

/* SECTION 2 */

.section-wrapper {
    background-color: #F6F6F6;
    width: 100%;
    padding: 120px 0;
}

.about {
    text-align: center;
}

.about-header {
    font-size: 34px;
    font-weight: bold;

}

.about-text {
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
}

/* SECTION 3 */

.skills {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills-header {
    font-size: 34px;
    font-weight: bold;
}

.skills-text {
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 90px;
}

.skills-list {
    width: 945px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.skills-item {
    width: 166px;
}

.skills-item>img:not(.fig-img) {
    margin-bottom: 25px;

}

.skills-item>p {
    color: #828282;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}

.stars-wrapper {
    display: flex;
    justify-content: space-between;
}

.fig-img {
    margin-bottom: 44px;
}

/* SECTION 4 */

.portfolio {
    width: 945px;
    margin: 0 auto;
    text-align: center;
}

.portfolio-header {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 50px;
}

.portfolio-img {
    margin-bottom: 50px;
}

.portfolio-link {
    margin-bottom: 100px;
    display: block;
    font-weight: Medium;
    font-size: 18px;
    text-decoration-line: underline;
    color: black;
}