/* OVERALLS */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #828282;
}

li {
    list-style-type: none;
}

body {
    background-color: #fff;
    font-family: 'Khula', sans-serif;
    font-weight: normal;
}

section,
header,
footer {
    padding: 0 20px;
}

button {
    border: none;
}



/* HEADER */

.page-header {
    width: 945px;
    margin: 0 auto;
    padding-top: 33px;

}

.page-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
    border-bottom: 2px solid #828282;
}

.nav-item {
    font-weight: 700;
    font-size: 18px;
    color: #828282;
}

.nav-item:active,
.nav-item:hover {
    color: black;
}

/* SECTION 1 */

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.denis-novik {
    width: 945px;
    margin: 0 auto;
    margin-top: 30px;
}

.info-name {
    font-size: 48px;
}

.info-language {
    transform: rotate(-90deg);
    font-size: 16px;
    margin-right: -25px;
}

.info-about {
    font-size: 18px;
}

.info-image {
    background-image: url(../images/novak.png);
    width: 100%;
    height: 386px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* SECTION 2 */

.section-wrapper {
    background-color: #F6F6F6;
    width: 100%;
    padding: 120px 0;
}

.about {
    text-align: center;
}

.about-header {
    font-size: 34px;
    font-weight: bold;

}

.about-text {
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
}

/* SECTION 3 */

.skills {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills-header {
    font-size: 34px;
    font-weight: bold;
}

.skills-text {
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 90px;
}

.skills-list {
    width: 945px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.skills-item {
    width: 166px;
}

.skills-item>img:not(.fig-img) {
    margin-bottom: 25px;

}

.skills-item>p {
    color: #828282;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}

.stars-wrapper {
    display: flex;
    justify-content: space-between;
}

.fig-img {
    margin-bottom: 44px;
}

/* SECTION 4 */

.portfolio {
    width: 945px;
    margin: 0 auto;
    text-align: center;
}

.portfolio-header {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 50px;
}

.portfolio-img {
    margin-bottom: 50px;
}

.portfolio-link {
    margin-bottom: 100px;
    display: block;
    font-weight: Medium;
    font-size: 18px;
    text-decoration-line: underline;
    color: black;
}

/* FOOTER */

.page-footer {
    width: 945px;
    text-align: center;
    margin: 0 auto;
    padding: 120px 0;
}

.footer-header {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 38px;
}

.footer-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-button {
    border-radius: 40px;
    background-color: black;
    color: white;
    padding: 13px 30px;
    font-size: 18px;
    margin-bottom: 90px;
    cursor: pointer;

}

.icons-wrapper {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 60px;
}

.footer-contacts {
    font-size: 14px;
    font-weight: 500;
    color: #828282;
}

/* BUTTONS */

.footer-button:hover {
    transform: scale(1.1);
}

.footer-button {
    transition-duration: 0.5s;
}

.header-button {
    position: absolute;
    display: none;
    height: 30px;
    width: 35px;
    top: 47px;
    right: 29px;
    z-index: 1;
    background: none;
}

.header-button span {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
    left: 3px;
    transition: transform .5s, opacity .3s;
}

.header-button span:nth-child(1) {
    transform: translateY(-8px);
}

.header-button span:nth-child(3) {
    transform: translateY(8px);
}

/* MEDIA QUERIES */

@media screen and (max-width: 426px) {
    .info {
        display: block;
    }

    .info-name {
        margin-bottom: 30px;
    }

    .info-language {
        display: none;
    }

    .info-image {
        background-image: url(../images/novik_mobile.png);
        width: 100%;
        height: 478px;
        margin-top: 37px;
        margin-bottom: 80px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .skills-list {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .icons-wrapper {
        width: 280px;
    }

    .footer-contacts {
        width: 280px;
        margin: 0 auto;
        font-size: 18px;
    }

    .footer-button {
        width: 280px;
        margin-top: 43px;
    }

    .section-wrapper {
        padding: 80px 0;
    }

    .skills {
        padding-top: 80px;
    }

    .page-footer {
        padding-top: 80px;
    }

    .portfolio-link {
        margin-bottom: 50px;
    }

    /* BURGER MENU */

    .header-button {
        display: block;
    }

    .page-nav {
        position: fixed;
        right: -220px;
        top: 0;
        display: block;
        border: none;
        padding: 40px 87px 350px 26px;
        background-color: white;
        width: 220px;
        transition: transform .5s, box-shadow 1s;
    }

    .nav-item {
        font-size: 20px;
        color: #828282;
        display: block;
        padding: 10px 0px;
    }

    .page-header.open .page-nav {
        transform: translateX(-100%);
        box-shadow: 0 0 5px 0px #b6b6b6
    }

    .page-header.open .header-button span:nth-child(2) {
        opacity: 0;
        position: fixed;
        right: 29px;
        left: unset;
    }

    .page-header.open .header-button span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        position: fixed;
        right: 29px;
        left: unset;
    }

    .page-header.open .header-button span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
        position: fixed;
        right: 29px;
        left: unset;
    }
}